.wrapper {
    height: 100vh;
    width: 100%;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form {
    width: 400px;
  }

  .title {
    text-align: center;
    color: white;
    margin-bottom: 30px;
    width: 100%;
    font-size: 2.3em;;
  }

  .subtitle {
    text-align: center;
    color: white;
    margin-bottom: 30px;
    width: 100%;
    font-size: 1.5em;;
  }

  .input {
    color: #333;
    font-size: 1.2rem;
      margin: 0 auto;
    padding: 1rem 2rem;
    box-sizing: border-box;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    margin-bottom: 25px;
  }

  .button {
    border-radius: 4px;
    border: none;
    background-color: white;
    color: #8EC5FC;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    padding: 20px;
    width: 200px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
    width: 90%;
  }